---
- name: Get ansible_user home directory
  ansible.builtin.shell: 'set -o pipefail && getent passwd "{{ ansible_user }}" | cut -d: -f6'
  register: rust_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Debian"
  tags:
    - config-language
    - config-rust

- name: Get ansible_user home directory
  ansible.builtin.shell: set -o pipefail && finger "{{ ansible_user }}" | awk '/^Directory/ {print $2}'
  register: rust_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Darwin"
  tags:
    - config-language
    - config-rust

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    rust_ansible_home: "{{ rust_ansible_home_result.stdout }}"
  changed_when: false
  when: rust_ansible_home_result.stdout is defined
  tags:
    - config-language
    - config-rust

- name: Install rustup
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.shell: set -o pipefail && curl https://sh.rustup.rs -sSf | sh -s -- -y
  changed_when: false
  tags:
    - config-language
    - config-rust

- name: Place rustup path
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/rustup.sh
    dest: "{{ rust_ansible_home }}/.bash.d/rustup.sh"
    mode: "0755"
  tags:
    - config-language
    - config-rust

- name: Update rustup
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "rustup update"
  changed_when: false
  tags:
    - config-language
    - config-rust

- name: Install rust Lang Server
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "rustup component add rust-analyzer rust-analysis rust-src"
  changed_when: false
  tags:
    - config-language
    - config-rust
