---
- name: Get ansible_user home directory
  ansible.builtin.shell: 'set -o pipefail && getent passwd "{{ ansible_user }}" | cut -d: -f6'
  register: golang_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Debian"
  tags:
    - config-language
    - config-go

- name: Get ansible_user home directory
  ansible.builtin.shell: set -o pipefail && finger "{{ ansible_user }}" | awk '/^Directory/ {print $2}'
  register: golang_mac_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Darwin"
  tags:
    - config-language
    - config-go

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    golang_ansible_home: "{{ golang_ansible_home_result.stdout }}"
  changed_when: false
  when: golang_ansible_home_result.stdout is defined
  tags:
    - config-language
    - config-go

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    golang_ansible_home: "{{ golang_mac_ansible_home_result.stdout }}"
  changed_when: false
  when: golang_mac_ansible_home_result.stdout is defined
  tags:
    - config-language
    - config-go

- name: Place go-bin.sh
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/go-bin.sh
    dest: "{{ golang_ansible_home }}/.bash.d/go-bin.sh"
    mode: "0755"
  tags:
    - config-language
    - config-go

- name: Check installed golang version
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "goenv versions"
  register: golang_goenv_versions_installed
  changed_when: false
  failed_when: false
  tags:
    - config-language
    - config-go

- name: Install golang from goenv
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "goenv install {{ item }}"
  with_items: "{{ golang_go_versions }}"
  environment:
    GOENV_DISABLE_GOPATH: "1"
  when: item not in golang_goenv_versions_installed.stdout
  changed_when: false
  tags:
    - config-language
    - config-go

- name: Set Global version
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "goenv global {{ golang_global_go_version }}"
  environment:
    GOENV_DISABLE_GOPATH: "1"
  changed_when: false
  tags:
    - config-language
    - config-go

- name: Install golang libraries
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "go install {{ item }}"
  with_items: "{{ golang_go_binaries }}"
  environment:
    GOPATH: "{{ golang_ansible_home }}/go"
    GOENV_DISABLE_GOPATH: "1"
  changed_when: false
  tags:
    - config-language
    - config-go
