---
- name: Install Apt Packages
  become: true
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - autoconf
      - bison
      - bpfcc-tools
      - build-essential
      - ca-certificates
      - clang
      - cmake
      - curl
      - direnv
      - gcc
      - g++
      - make
      - xz-utils
      - zlib1g-dev
      # - libgdbm5
      - git
      - imagemagick
      - libc6-dev
      - libncurses5-dev
      - libffi-dev
      - libgmp-dev
      - libfontconfig1-dev
      - libfreetype6-dev
      - libxcb-xfixes0-dev
      - libmagic-dev
      - libmysqlclient-dev
      - libreadline6-dev
      - libssl-dev
      - libyaml-dev
      - mysql-client-core-8.0
      - pkg-config
      - pandoc
      - protobuf-compiler
      - python3-dev
      - python3-pip
      - software-properties-common
      - zlib1g-dev
      # independent utils
      - jq
      - multitime
      - translate-shell
      - tree
      - wireshark
      # lint
      # - hadolint
      - shellcheck
      - wtype
    state: present
  tags:
    - config-base
    - config-packages

- name: Install Kernel Modules
  become: true
  ansible.builtin.shell: apt install -y linux-headers-$(uname -r)
  changed_when: false
  tags:
    - config-base
    - config-packages

- name: Add docker apt signing key
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
    force: true
  tags:
    - config-base
    - config-packages

- name: Add docker apt source
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ packages_arch_result.stdout }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release
      }} stable"
    filename: docker
    state: present
  tags:
    - config-base
    - config-packages

- name: Install docker
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
  tags:
    - config-base
    - config-packages

- name: Join docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: dialout
    append: true
  tags:
    - config-base
    - config-packages

- name: Add mise apt signing key
  become: true
  ansible.builtin.get_url:
    url: https://mise.jdx.dev/gpg-key.pub
    dest: /etc/apt/keyrings/mise.asc
    mode: "0644"
    force: true
  tags:
    - config-base
    - config-packages

- name: Add mise apt source
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ packages_arch_result.stdout }} signed-by=/etc/apt/keyrings/mise.asc] https://mise.jdx.dev/deb stable main"
    filename: mise
    state: present
  tags:
    - config-base
    - config-packages

- name: Install mise
  become: true
  ansible.builtin.apt:
    name:
      - mise
    state: present
  tags:
    - config-base
    - config-packages
