---
- name: Install CLT
  become: true
  # https://scrapbox.io/r-hanafusa/xcode-select:_error:_tool_'xcodebuild'_requires_Xcode,_but...%E3%81%A8%E3%81%84%E3%81%86%E3%82%A8%E3%83%A9%E3%83%BC%E3%81%8C%E5%87%BA%E3%81%9F%E3%81%A8%E3%81%8D%E3%81%AE%E5%AF%BE%E5%87%A6%E6%B3%95
  ansible.builtin.command: xcode-select -s /Applications/Xcode.app/Contents/Developer
  changed_when: false
  tags:
    - config-language
    - config-haskell

- name: Brew Tap -> bundle core dupes services versions
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew_tap:
    name:
      - homebrew/bundle
      - homebrew/cask
      - homebrew/cask-versions
      - homebrew/core
      - homebrew/services
      - ktr0731/evans
      - osx-cross/avr
      - PX4/homebrew-px4
    state: present
  tags:
    - config-base
    - config-packages

- name: Brew Untap
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew_tap:
    name: homebrew/boneyard
    state: absent
  tags:
    - config-base
    - config-packages

- name: Brew Update
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: brew update
  changed_when: false
  tags:
    - config-base
    - config-packages

- name: Brew Install
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew:
    name:
      - bash-completion
      - curl
      - cmake
      - direnv
      - evans
      - git
      - gnu-getopt
      - graphviz
      - hadolint
      - imagemagick
      - jq
      - libmagic
      - memcached
      - mysql
      - openssl
      - pandoc
      - protobuf
      - python
      - readline
      - reattach-to-user-namespace
      - shellcheck
      - tfenv
      - tig
      - translate-shell
      - wget
      - yq
      # AVR
      - avr-gcc
      - dfu-programmer
      - gcc-arm-none-eabi
      - avrdude
    state: present
  tags:
    - config-base
    - config-packages

- name: Install Homebrew cask packages
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew_cask:
    name:
      - alacritty
      - deepl
      - discord
      - docker-edge
      - firefox
      - gitify
      - grammarly
      - google-japanese-ime
      - google-chrome
      - kindle
      - kitematic
      - licecap
      - postman
      - raycast
      - rstudio
      - sequel-pro
      - slack
      - spectacle
      - spotify
      - vagrant
      - visual-studio-code
      - vlc
      - xquartz
      - wireshark
    state: present
  tags:
    - config-base
    - config-packages
