---
- name: Get ansible_user home directory (Debian)
  ansible.builtin.shell: 'set -o pipefail && getent passwd "{{ ansible_user }}" | cut -d: -f6'
  register: packages_ansible_home_result_debian
  changed_when: false
  when:
    - ansible_os_family == "Debian"
  tags:
    - config-base
    - config-packages

- name: Get ansible_user home directory (Darwin)
  ansible.builtin.shell: set -o pipefail && finger "{{ ansible_user }}" | awk '/^Directory/ {print $2}'
  register: packages_ansible_home_result_darwin
  changed_when: false
  when:
    - ansible_os_family == "Darwin"
  tags:
    - config-base
    - config-packages

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    packages_ansible_home: "{{ packages_ansible_home_result_debian.stdout | default(packages_ansible_home_result_darwin.stdout | default('')) }}"
  changed_when: false
  when: (packages_ansible_home_result_debian.stdout is defined) or (packages_ansible_home_result_darwin.stdout is defined)
  tags:
    - config-base
    - config-packages

- name: Get os in lowercase
  ansible.builtin.shell: set -o pipefail && uname | tr '[:upper:]' '[:lower:]'
  register: packages_os_result
  changed_when: false
  tags:
    - config-base
    - config-packages

- name: Get target arch
  ansible.builtin.shell: set -o pipefail && uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/'
  register: packages_arch_result
  changed_when: false
  tags:
    - config-base
    - config-packages

- name: Apt for debian
  ansible.builtin.import_tasks: apt.yml
  when:
    - ansible_os_family == "Debian"

- name: Snap for debian
  ansible.builtin.import_tasks: snap.yml
  when:
    - ansible_os_family == "Debian"

- name: AppImage for debian
  ansible.builtin.import_tasks: appimage.yml
  when:
    - ansible_os_family == "Debian"

- name: Homebrew for darwin
  ansible.builtin.import_tasks: homebrew.yml
  when:
    - ansible_os_family == "Darwin"
