---
- name: Add apt signing key
  become: true
  ansible.builtin.get_url:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    dest: /etc/apt/keyrings/cloud.google.asc
    mode: "0644"
    force: true
  tags:
    - config-tool
    - config-gcp

- name: Add apt source
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/cloud.google.asc] https://packages.cloud.google.com/apt cloud-sdk main"
    state: present
  tags:
    - config-tool
    - config-gcp

- name: Install google-cloud-cli
  become: true
  ansible.builtin.apt:
    name:
      - google-cloud-cli
      - google-cloud-cli-terraform-validator
    state: present
    update_cache: true
  when: not ansible_check_mode
  tags:
    - config-tool
    - config-gcp
