[client]
port = 3306

[mysqld]
bind-address = 127.0.0.1
port = 3306
max_allowed_packet = 64M
sync_binlog=0
skip-external-locking
skip_innodb_doublewrite

table_open_cache = 512
open_files_limit = 1024

innodb_log_file_size = 128M
innodb_log_buffer_size = 64M
innodb_lock_wait_timeout = 120
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_flush_log_at_trx_commit = 0

innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1
