---
- name: Get ansible_user home directory
  ansible.builtin.shell: 'set -o pipefail && getent passwd "{{ ansible_user }}" | cut -d: -f6'
  register: nodejs_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Debian"
  tags:
    - config-language
    - config-nodejs

- name: Get ansible_user home directory
  ansible.builtin.shell: set -o pipefail && finger "{{ ansible_user }}" | awk '/^Directory/ {print $2}'
  register: nodejs_mac_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Darwin"
  tags:
    - config-language
    - config-nodejs

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    nodejs_ansible_home: "{{ nodejs_ansible_home_result.stdout }}"
  changed_when: false
  when: nodejs_ansible_home_result.stdout is defined
  tags:
    - config-language
    - config-nodejs

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    nodejs_ansible_home: "{{ nodejs_mac_ansible_home_result.stdout }}"
  changed_when: false
  when: nodejs_mac_ansible_home_result.stdout is defined
  tags:
    - config-language
    - config-nodejs

- name: Place ni.sh
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/ni.sh
    dest: "{{ nodejs_ansible_home }}/.bash.d/ni.sh"
    mode: "0755"
  tags:
    - config-language
    - config-nodejs

- name: Check installed nodejs version
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "nodenv versions"
  register: nodejs_nodenv_versions_installed
  changed_when: false
  failed_when: false
  tags:
    - config-language
    - config-nodejs

- name: Install node-build
  become: true
  ansible.builtin.command: bash -lc "{{ nodejs_ansible_home }}/.anyenv/envs/nodenv/plugins/node-build/install.sh"
  with_items: "{{ nodejs_node_versions }}"
  when: '"item" in nodejs_nodenv_versions_installed.stdout'
  changed_when: false
  tags:
    - config-language
    - config-nodejs

- name: Install nodejs from nodenv
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "nodenv install {{ item }}"
  with_items: "{{ nodejs_node_versions }}"
  when: item not in nodejs_nodenv_versions_installed.stdout
  changed_when: false
  tags:
    - config-language
    - config-nodejs

- name: Set Global version
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "nodenv global {{ nodejs_global_node_version }}"
  changed_when: false
  tags:
    - config-language
    - config-nodejs

- name: Install pnpm
  become: true
  become_user: "{{ ansible_user }}"
  community.general.npm:
    name: "pnpm@latest-10"
    state: present
    global: true
    executable: "{{ nodejs_ansible_home }}/.anyenv/envs/nodenv/shims/npm"
  tags:
    - config-language
    - config-nodejs

- name: Install commitizen
  become: true
  become_user: "{{ ansible_user }}"
  community.general.npm:
    name: commitizen
    state: present
    global: true
    executable: "{{ nodejs_ansible_home }}/.anyenv/envs/nodenv/shims/npm"
  tags:
    - config-language
    - config-nodejs

- name: Install ni
  become: true
  become_user: "{{ ansible_user }}"
  community.general.npm:
    name: "@antfu/ni"
    state: present
    global: true
    executable: "{{ nodejs_ansible_home }}/.anyenv/envs/nodenv/shims/npm"
  tags:
    - config-language
    - config-nodejs

- name: Place .nirc
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/nirc
    dest: "{{ nodejs_ansible_home }}/.nirc"
    mode: "0755"
  tags:
    - config-language
    - config-nodejs
