---
- name: Install flutter
  become: true
  community.general.snap:
    name: flutter
    state: present
    classic: true
  tags:
    - config-language
    - config-flutter

- name: Install android-studio
  become: true
  community.general.snap:
    name: android-studio
    state: present
    classic: true
  tags:
    - config-language
    - config-flutter

- name: Install dependencies for android-studio
  become: true
  ansible.builtin.apt:
    name:
      - libc6:i386
      - libncurses5:i386
      - libstdc++6:i386
      - lib32z1
      - libbz2-1.0:i386
    state: present
  tags:
    - config-language
    - config-flutter

# https://developer.android.com/studio/run/emulator-acceleration#accel-vm
# https://developer.android.com/studio/run/emulator-acceleration#vm-linux
- name: Setup VM Accelaration
  become: true
  ansible.builtin.apt:
    name:
      - cpu-checker
      - qemu-kvm
      - libvirt-daemon-system
      - libvirt-clients
      - bridge-utils
    state: present
  tags:
    - config-language
    - config-flutter

- name: Setup Remote Debugging
  become: true
  ansible.builtin.apt:
    name:
      - adb
    state: present
  tags:
    - config-language
    - config-flutter

- name: Mkdir for android sdk
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "{{ ansible_home }}/Android/Sdk"
    state: directory
    mode: "0775"
  tags:
    - config-language
    - config-flutter

- name: Configure flutter
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: |
    flutter config --android-sdk "{{ ansible_home }}/Android/Sdk/"
    flutter config --android-studio-dir /snap/android-studio/current/android-studio/
  changed_when: false
  tags:
    - config-language
    - config-flutter

- name: Install fvm
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: dart pub global activate fvm
  changed_when: false
  environment:
    JAVA_HOME: "{{ flutter_java_home_path }}"
  tags:
    - config-language
    - config-flutter

- name: Place fvm.sh
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/fvm.sh
    dest: "$HOME/.bash.d/fvm.sh"
    mode: "0755"
  tags:
    - config-language
    - config-flutter

- name: Install Firebase CLI
  become: true
  ansible.builtin.shell: set -o pipefail && curl -sL https://firebase.tools | bash
  changed_when: false
  tags:
    - config-language
    - config-flutter

- name: Activate flutterfire CLI
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: dart pub global activate flutterfire_cli
  changed_when: false
  environment:
    JAVA_HOME: "{{ flutter_java_home_path }}"
  tags:
    - config-language
    - config-flutter
