---
- name: Install dependencies
  become: true
  ansible.builtin.apt:
    name:
      - minicom
      - libusb-1.0-0-dev
      - libsdl2-dev
    state: present
  tags:
    - config-language
    - config-arm64-m4

- name: Place .minirc.dfl
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/minirc.dfl
    dest: "{{ ansible_home }}/.minirc.dfl"
    mode: "0755"
    backup: true
  tags:
    - config-language
    - config-arm64-m4

- name: Install cargo subcommand
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "cargo install {{ item }}"
  with_items:
    - hf2-cli
    - cargo-hf2
  environment:
    CARGO_NET_GIT_FETCH_WITH_CLI: "true"
  changed_when: false
  tags:
    - config-language
    - config-arm64-m4

- name: Place udev rules for cargo-hf2
  become: true
  ansible.builtin.template:
    src: files/99-seeed-boards.rules.j2
    dest: /etc/udev/rules.d/99-seeed-boards.rules
    mode: "0755"
    backup: true
  tags:
    - config-language
    - config-arm64-m4

- name: Reload udev rules for wio-terminal
  become: true
  ansible.builtin.command: udevadm control --reload-rules
  changed_when: false
  tags:
    - config-language
    - config-arm64-m4

- name: Join dialouot group for USB serial
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: dialout
    append: true
  tags:
    - config-language
    - config-arm64-m4

# reboot here
