---
- name: Add apt signing key
  become: true
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/ubuntu/noble.noarmor.gpg
    dest: /etc/apt/keyrings/tailscale.gpg
    mode: "0644"
    force: true
  tags:
    - config-tool
    - config-tailscale

- name: Add apt source
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/tailscale.gpg] https://pkgs.tailscale.com/stable/ubuntu {{ ansible_distribution_release }} main"
    filename: tailscale
    state: present
  tags:
    - config-tool
    - config-tailscale

- name: Install tailscale
  become: true
  ansible.builtin.apt:
    name:
      - tailscale
    state: present
    update_cache: true
  when: not ansible_check_mode
  tags:
    - config-tool
    - config-tailscale

- name: Install tailscale
  become: true
  ansible.builtin.apt:
    name:
      - tailscale
    state: present
    update_cache: true
  when: not ansible_check_mode
  # notify: Up tailscale
  notify: Allow tailscale from fw
  tags:
    - config-tool
    - config-tailscale

# need an interaction
# - name: Up tailscale
#   become: true
#   ansible.builtin.command: tailscale up
#   tags:
#     - config-tool
#     - config-tailscale
#   notify: Allow tailscale from fw
#   tags:
#     - config-tool
#     - config-tailscale
