---
- name: Place kubeconfig.sh
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/kubeconfig.sh
    dest: "{{ kubernetes_ansible_home }}/.bash.d/kubeconfig.sh"
    mode: "0755"
  tags:
    - config-tool
    - config-kubernetes

- name: Create target directory for kubectl
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "{{ kubernetes_ansible_home }}/.kube"
    state: directory
    mode: "0755"
  tags:
    - config-tool
    - config-kubernetes

- name: Place krew.sh
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/krew.sh
    dest: "{{ kubernetes_ansible_home }}/.bash.d/krew.sh"
    mode: "0755"
  tags:
    - config-tool
    - config-kubernetes
