---
- name: Add apt signing key
  become: true
  ansible.builtin.get_url:
    url: https://pkgs.k8s.io/core:/stable:/v1.34/deb/Release.key
    dest: /etc/apt/keyrings/kubernetes.asc
    mode: "0644"
    force: true
  tags:
    - config-tool
    - config-kubernetes

- name: Add apt source
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/kubernetes.asc] https://pkgs.k8s.io/core:/stable:/v1.34/deb/ /"
    filename: kubernetes
    state: present
  tags:
    - config-tool
    - config-kubernetes

- name: Install kubectl
  become: true
  ansible.builtin.apt:
    name: kubectl
    state: present
    update_cache: true
  when: not ansible_check_mode
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for krew download
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_krew_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install krew
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.shell:
    cmd: |
      set -e
      bin_name="krew-{{ kubernetes_os_result.stdout }}_{{ kubernetes_arch_result.stdout }}"
      asset_name="${bin_name}.tar.gz"
      curl -sLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${asset_name}"
      tar zxvf ${asset_name}
      ./${bin_name} install krew
      ./${bin_name} update
    chdir: "{{ kubernetes_krew_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Install kubectl plugins
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "kubectl krew install {{ item }}"
  with_items:
    - ctx
    - ns
    - iexec
    - status
    - tree
    - view-secret
    - whoami
    - trace
    - neat
    - images
    - rolesum
    - get-all
    - ca-cert
    - resource-capacity
    - df-pv
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for kustomize download
  become: true
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_kustomize_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install kustomize
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      set -e
      sys_name="{{ kubernetes_os_result.stdout }}_{{ kubernetes_arch_result.stdout }}"
      asset_name="kustomize_v{{ kubernetes_kustomize_version }}_${sys_name}.tar.gz"
      curl -s https://api.github.com/repos/kubernetes-sigs/kustomize/releases/latest | jq -r --arg NAME ${sys_name} '.assets[] | select(.name | contains($NAME)) | .browser_download_url' | wget -O ${asset_name} -q -i -
      tar zxvf ${asset_name}
      chmod +x kustomize
      mv kustomize {{ kubernetes_kustomize_path }}
    chdir: "{{ kubernetes_kustomize_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for kubeseal download
  become: true
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_kubeseal_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install kubeseal dependencies
  become: true
  ansible.builtin.apt:
    name:
      - age
      - gnupg
    state: present
  tags:
    - config-tool
    - config-kubernetes

- name: Install kubeseal
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      set -e
      sys_name="{{ kubernetes_os_result.stdout }}-{{ kubernetes_arch_result.stdout }}"
      asset_name="kubeseal-{{ kubernetes_kubeseal_version }}-${sys_name}"
      curl -s https://api.github.com/repos/bitnami-labs/sealed-secrets/releases/latest | jq -r --arg NAME ${sys_name} '.assets[] | select(.name | contains($NAME)) | .browser_download_url' | wget -O ${asset_name}.tar.gz -q -i -
      tar zxvf "${asset_name}.tar.gz" || true
      chmod +x kubeseal
      mv kubeseal {{ kubernetes_kubeseal_path }}
    chdir: "{{ kubernetes_kubeseal_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for stern download
  become: true
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_stern_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install stern
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      set -e
      sys_name="{{ kubernetes_os_result.stdout }}_{{ kubernetes_arch_result.stdout }}"
      bin_name="stern_${sys_name}"
      curl -s https://api.github.com/repos/stern/stern/releases/latest | jq -r --arg NAME ${bin_name} '.assets[] | select(.name | contains($NAME)) | .browser_download_url' | wget -O ${bin_name} -q -i -
      chmod +x ${bin_name}
      mv ${bin_name} {{ kubernetes_stern_path }}
    chdir: "{{ kubernetes_stern_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Install sops
  become: true
  ansible.builtin.apt:
    deb: https://github.com/mozilla/sops/releases/download/v{{ kubernetes_sops_version }}/sops_{{ kubernetes_sops_version }}_{{ kubernetes_arch_result.stdout
      }}.deb
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for sopsed download
  become: true
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_sopsed_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install sopsed
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      set -e
      curl -s https://api.github.com/repos/mumoshu/sopsed/releases/latest | jq -r '.assets[] | .browser_download_url' | wget -q -i -
      chmod +x sopsed
      mv sopsed {{ kubernetes_sopsed_path }}
    chdir: "{{ kubernetes_sopsed_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes

- name: Ensure a temporary directory for variant download
  become: true
  ansible.builtin.tempfile:
    state: directory
  register: kubernetes_variant_temp_dir
  tags:
    - config-tool
    - config-kubernetes

- name: Install variant
  become: true
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      set -e
      sys_name="{{ kubernetes_os_result.stdout }}_{{ kubernetes_arch_result.stdout }}"
      asset_name="variant_${sys_name}.tar.gz"
      curl -s https://api.github.com/repos/mumoshu/variant/releases/latest | jq -r --arg NAME ${sys_name} '.assets[] | select(.name | contains($NAME)) | .browser_download_url' | wget -O ${asset_name} -q -i -
      tar zxvf ${asset_name}
      chmod +x variant
      mv variant {{ kubernetes_variant_path }}
    chdir: "{{ kubernetes_variant_temp_dir.path }}"
  changed_when: false
  tags:
    - config-tool
    - config-kubernetes
