---
- name: Get ansible_user home directory
  ansible.builtin.shell: 'set -o pipefail && getent passwd "{{ ansible_user }}" | cut -d: -f6'
  register: anyenv_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Debian"
  tags:
    - config-base
    - config-anyenv

- name: Get ansible_user home directory
  ansible.builtin.shell: set -o pipefail && finger "{{ ansible_user }}" | awk '/^Directory/ {print $2}'
  register: anyenv_mac_ansible_home_result
  changed_when: false
  when:
    - ansible_os_family == "Darwin"
  tags:
    - config-base
    - config-anyenv

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    anyenv_ansible_home: "{{ anyenv_ansible_home_result.stdout }}"
  changed_when: false
  when: anyenv_ansible_home_result.stdout is defined
  tags:
    - config-base
    - config-anyenv

- name: Set the fact for the other scripts to use
  ansible.builtin.set_fact:
    anyenv_ansible_home: "{{ anyenv_mac_ansible_home_result.stdout }}"
  changed_when: false
  when: anyenv_mac_ansible_home_result.stdout is defined
  tags:
    - config-base
    - config-anyenv

- name: Install anyenv
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.git: # noqa: latest
    repo: https://github.com/riywo/anyenv
    dest: "{{ anyenv_ansible_home }}/.anyenv"
  tags:
    - config-base
    - config-anyenv

- name: Install anyenv-update
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.git: # noqa: latest
    repo: https://github.com/znz/anyenv-update
    dest: "{{ anyenv_ansible_home }}/.anyenv/plugins/anyenv-update"
  tags:
    - config-base

- name: Place Init File
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/anyenv.sh
    dest: "{{ anyenv_ansible_home }}/.bash.d/anyenv.sh"
    mode: "0755"
  with_items:
    - anyenv.sh
  tags:
    - config-base
    - config-anyenv

- name: Check anyenv service already installed
  become: true
  ansible.builtin.command: "ls {{ anyenv_ansible_home }}/.config/anyenv"
  register: anyenv_anyenv_initialized
  failed_when: false
  changed_when: false
  tags:
    - config-base
    - config-anyenv

- name: Init anyenv
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "anyenv install --force-init"
  when: anyenv_anyenv_initialized.rc != 0
  changed_when: anyenv_anyenv_initialized.rc != 0
  tags:
    - config-base
    - config-anyenv

- name: Check env installed
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "anyenv envs"
  register: anyenv_anyenv_envs_installed
  changed_when: false
  tags:
    - config-base
    - config-anyenv

- name: Install env tools
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "anyenv install {{ item }}"
  with_items:
    - tfenv
  when: item not in anyenv_anyenv_envs_installed.stdout
  changed_when: item not in anyenv_anyenv_envs_installed.stdout
  tags:
    - config-base
    - config-anyenv

- name: Create target directory for anyenv-update
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "{{ anyenv_ansible_home }}/.anyenv/plugins"
    state: directory
    mode: "0755"
  tags:
    - config-base
    - config-anyenv

- name: Fetch anyenv-update
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.git: # noqa: latest
    repo: https://github.com/znz/anyenv-update
    dest: "{{ anyenv_ansible_home }}/.anyenv/plugins/anyenv-update"
  tags:
    - config-base
    - config-anyenv

- name: Update exists tools
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.command: bash -lc "anyenv update"
  changed_when: false
  tags:
    - config-base
    - config-anyenv
