---
- name: Create target directory for gradle properties
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.file:
    path: "{{ java_ansible_home }}/.gradle"
    state: directory
    mode: "0755"
  tags:
    - config-language
    - config-java

- name: Place gradle.properties
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.template:
    src: files/gradle.properties
    dest: "{{ java_ansible_home }}/.gradle/gradle.properties"
    mode: "0755"
  tags:
    - config-language
    - config-java
