---
- name: Download xpanes
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/greymd/tmux-xpanes/v4.1.1/bin/xpanes
    dest: /tmp/xpanes
    mode: "0755"
  tags:
    - config-tool

- name: Install xpanes
  become: true
  ansible.builtin.command: install -m 0755 /tmp/xpanes /usr/local/bin/xpanes
  changed_when: false
  tags:
    - config-tool

# - name: Fetch Solarized Color Schema
#   become: true
#   become_user: "{{ ansible_user }}"
# shell: git clone https://github.com/tomislav/osx-terminal.app-colors-solarized solarized.git
# NOTE: check iceberg terminal theme when you're using MacOS
#   https://cocopon.github.io/iceberg.vim/

- name: Install powerline-shell
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.pip:
    name: powerline-shell
    state: present
    executable: pip3
  tags:
    - config-tool

- name: Install circleci cli
  become: true
  ansible.builtin.shell: set -o pipefail && curl -fLSs https://circle.ci/cli | bash
  changed_when: false
  tags:
    - config-tool

- name: Install ansible-lint client via pip3
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.pip:
    name: ansible-lint
    state: present
    executable: pip3
  tags:
    - config-tool
