---
- name: Tap ctags/gtags
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew_tap:
    name: universal-ctags/universal-ctags
    state: present
  tags:
    - config-tool

- name: Install ctags/gtags
  become: true
  become_user: "{{ ansible_user }}"
  community.general.homebrew:
    name: universal-ctags
    state: present
    install_options: HEAD
  tags:
    - config-tool
