---
- name: Install ctags/gtags
  become: true
  ansible.builtin.shell: |
    docker pull universalctags/ctags-docker:latest
    curl -O https://raw.githubusercontent.com/universal-ctags/ctags-docker/master/uctags
    mv ctags /usr/local/bin
    chmod +x /usr/local/bin/ctags
  changed_when: false
  tags:
    - config-tool

- name: Install Packages for vim
  become: true
  ansible.builtin.apt:
    name:
      - neovim
      - vim
    state: present
  tags:
    - config-tool

- name: Install Packages for tmux
  become: true
  ansible.builtin.apt:
    name:
      - tmux
      - xclip
      - xsel
    state: present
  tags:
    - config-tool
