---
- name: Install ctags/gtags
  become: true
  ansible.builtin.shell: |
    docker pull universalctags/ctags-docker:latest
    curl -O https://raw.githubusercontent.com/universal-ctags/ctags-docker/master/uctags
    mv ctags /usr/local/bin
    chmod +x /usr/local/bin/ctags
  changed_when: false
  tags:
    - config-tool

- name: Install dependencies for whisper
  become: true
  ansible.builtin.apt:
    name:
      - ffmpeg
    state: present
  tags:
    - config-tool

- name: Install whisper
  become: true
  become_user: "{{ ansible_user }}"
  ansible.builtin.pip:
    name: openai-whisper
    state: present
    executable: pip3
  tags:
    - config-tool
