---
golang_go_versions:
  - 1.23.12
  - 1.24.10
  - 1.25.4

golang_global_go_version: 1.25.4

golang_go_binaries:
  - github.com/air-verse/air@latest
  - github.com/github/hub@latest
  - github.com/golang/protobuf/protoc-gen-go@latest
  - github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  - github.com/go-delve/delve/cmd/dlv@latest
  - github.com/ktr0731/evans@latest
  - github.com/plumber-cd/terraform-backend-git@latest
  - github.com/pseudomuto/protoc-gen-doc/cmd/protoc-gen-doc@latest
  - github.com/spf13/cobra-cli@latest
  - github.com/terraform-docs/terraform-docs@latest
  - github.com/x-motemen/ghq@latest
  - honnef.co/go/tools/cmd/...@latest
