---
golang_go_versions:
  - 1.22.12
  - 1.23.11
  - 1.24.5

golang_global_go_version: 1.24.5

golang_go_binaries:
  - github.com/cosmtrek/air@latest
  - github.com/github/hub@latest
  - github.com/golang/protobuf/protoc-gen-go@latest
  - github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  - github.com/go-delve/delve/cmd/dlv@latest
  - github.com/ktr0731/evans@latest
  - github.com/plumber-cd/terraform-backend-git@latest
  - github.com/pseudomuto/protoc-gen-doc/cmd/protoc-gen-doc@latest
  - github.com/spf13/cobra-cli@latest
  - github.com/terraform-docs/terraform-docs@latest
  - github.com/x-motemen/ghq@latest
  - honnef.co/go/tools/cmd/...@latest
