---
- name: Install cloudflared
  become: true
  ansible.builtin.apt:
    deb: https://github.com/cloudflare/cloudflared/releases/download/{{ cloudflared_version }}/cloudflared-linux-{{ cloudflared_arch_result.stdout }}.deb
  tags:
    - config-tool
    - config-cloudflared
